body {
  font-family: 'montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white; 
  background-image: url(side_flower.png);
  /* background-image: url(cloud.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  max-width: 100%;
}
.starting_sentence{
  color: rgb(203, 238, 147); 
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 3.5vh;
}

.display{
  border: solid 3px;
  border-color: rgb(203, 238, 147);
  background-color:white;
  color: rgb(89, 121, 115);
  margin: 0% 15% 7% 15%;
  padding: 5%;
}

h1 {
  color:white;
  font-family: 'comic_boom_bubble_demoregular', sans-serif;
  font-size:5vw;
}

h2{
  color: rgb(203, 238, 147); 
  text-align: center;
  font-size: 3.5vh;
}

.instruction_box {
  width:70%;
  margin: 0 auto;
  padding: 1%;
  border: solid 3px;
  border-color: rgb(203, 238, 147);
  /* background-color: rgb(144, 189, 181);    */
  background-color:white;
  color: rgb(89, 121, 115);
}

.instruction_box li {
  margin: 0% 15% 0% 15%;  
  text-align: left;
  font-size: 2.3vh;
}

textarea {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  margin-bottom: -25px;
  font-family: 'montserrat', sans-serif;
  padding: 10px;
  font-size: 15px;
}

.button {
  color:white;
  background-color:rgb(152, 117, 38); 
  border-color: rgb(170, 134, 51); 
  padding: 10px;
  font-size: 15px;
  font-family: 'montserrat', sans-serif;
  font-weight:bold;
}

.button1 {
  color:white;
  background-color: rgb(152, 117, 38);
  border-color:rgb(170, 134, 51);
  padding: 10px;
  font-size: 15px;
  font-family: 'montserrat', sans-serif;
  display: inline-block;
  font-weight:bold;
}

a {
  color: white;
  text-decoration: none;
}

.sub_heading{
text-align: center;
padding: 0%;
color: white;
}


@font-face {
    font-family: 'comic_boom_bubble_demoregular';
    src: url('comicboombubbledemo-rg44y-webfont.woff2') format('woff2'),
    url('comicboombubbledemo-rg44y-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 480px) {
.display{
  text-align: center;
  font-size: 4vw;
  margin: 0% 10% 40% 10%;
  padding: 4%;
}

h1 {
  margin-top:20%;
  font-size: 12vw;
}

h2{
  font-size: 6vw;
  margin-top: 15%;
  margin-bottom: 3%;
}

.starting_sentence{ 
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size:5.5vw;
}

.sub_heading{
  font-size:5vw;
}

.instruction_box {
  width:85%;
  margin: 0 auto;
  padding: 1%;
}

.instruction_box li {
  margin: 0% 5% 0% 5%;  
  text-align: left;
  font-size: 2vh;
}

body {
  background-image: url(flower_Mobile.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;  
}
}

@media only screen and (max-width: 768px) {
.display{
  text-align: center;
  font-size: 4vw;
  margin: 0% 12% 20% 12%;
  padding: 4%;
}

h1 {
  margin-top:17%;
  font-size: 11vw;
}

h2{
  font-size: 4vw;
  margin-top: 15%;
  margin-bottom: 3%;
}

.starting_sentence{ 
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size:4vw;
}

.sub_heading{
  font-size:3.7vw;
}

.instruction_box {
  width:80%;
  margin: 0 auto;
  padding: 1%;
}

.instruction_box li {
  margin: 0% 5% 0% 5%;  
  text-align: left;
}

body {
  background-image: url(flower_Mobile.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 125% 110%; 
  background-attachment: fixed;  
}
}

@media only screen and (max-width: 1024px) {
.display{
  text-align: center;
  font-size: 3vw;
  margin: 0% 12% 20% 12%;
  padding: 4%;
}

h1 {
  margin-top:10%;
  font-size: 11vw;
  margin-bottom: 13%;
}

h2{
  font-size: 4vw;
  margin-top: 15%;
  margin-bottom: 3%;
}

.starting_sentence{ 
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size:4vw;
}

.sub_heading{
  font-size:3.7vw;
}

.instruction_box {
  width:80%;
  margin: 0 auto;
  padding: 1%;
}

.instruction_box li {
  margin: 0% 5% 0% 5%;  
  text-align: left;
}

body {
  background-image: url(flower_Mobile.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 125%; 
  background-attachment: fixed;   
}

.button {
  padding: 10px;
  font-size: 22px;
  font-weight:bold;
}

.button1 {
  padding: 10px;
  font-size: 22px;
  font-weight:bold;
}
}
